@using Microsoft.AspNetCore.Identity
@model AppActivity
@inject UserManager<SiteUser> UserManager

<head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/card.css" />
</head>

<div class="card">
	<div class="card-body">
		<div class="pic-name-date" style="display: flex; align-items: center;">
			<img src="@Url.Action("GetImage", "Home", new {userid = Model.OwnerId})" class="profilePic" />
			<div class="name-date">
				<span style="font-size: 18px; font-weight: 600">@Model.Owner.FirstName @Model.Owner.LastName</span>
				<br />
				@Model.Date
			</div>
		</div>
		<h3 class="card-title">@Model.Title</h3>
		<p class="card-text">@Model.Description</p>
		<div class="SportAndType">
			<span>@Model.SelectedSport</span>
			<span style="margin-left: 10px;">Time: @Model.Time</span>
		</div>
		<div class="OtherProperties">
			@foreach (var prop in Model.GetType().GetProperties().Where(t => Attribute.IsDefined(t, typeof(NullableProperty)) && t.GetValue(Model) is not null))
			{
				<div class="tile">
					<h4>@prop.GetValue(Model)</h4>
				</div>
			}
		</div>
	</div>
	@if (Model.PhotoUrl.Count() > 0)
	{
		//id-s have to contain the activity's id, so each modal have a unique data-target
		<img src="@Model.PhotoUrl[0]" class="img-fluid" alt="Small Image" data-toggle="modal" data-target="#imageModal-@Model.Id">

		<!-- Modal -->
		<div class="modal fade" id="imageModal-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div id="imageCarousel-@Model.Id" class="carousel slide" data-ride="carousel">

						<ol class="carousel-indicators">
							@for (int i = 0; i < Model.PhotoUrl.Count; i++)
							{
								<li data-target="#imageCarousel-@Model.Id" data-slide-to="@i" class="@((i == 0) ? "active" : "")"></li>
							}
						</ol>

						<!-- Carousel slides -->
						<div class="carousel-inner">
							@for (int i = 0; i < Model.PhotoUrl.Count; i++)
							{
								<div class="carousel-item @((i == 0) ? "active" : "")">
									<img class="d-block w-100" src="@Model.PhotoUrl[i]" alt="Slide @i" style="padding: 0;">
								</div>
							}
						</div>

						<!-- Carousel controls -->
						<a class="carousel-control-prev" href="#imageCarousel-@Model.Id" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#imageCarousel-@Model.Id" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</div>

	}

	@if (Model.OwnerId == UserManager.GetUserId(User) )
	{
		<a class="btn btn-danger" href="/Home/edit?id=@Model.Id">EditActivity</a>
	}

</div>

<head>
	<style>
		.modal-backdrop {
			background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (last number) to change opacity */
		}
	</style>
</head>