@using ActivityTracer.Services
@model SiteUser
@inject FollowingService _FollowingService

<head>
	<link rel="stylesheet" href="~/css/profile.css" />
	</head>

<h1>My Profile</h1>

@* <label>@Model.Activities.Select(t => t.Time.Total).Sum()</label>
 *@
<div grid-row-container>
	<div class="userInfo" style="display: flex; flex-direction: column">
		<div style="text-align: center; display: flex; flex-direction: row; align-items: center;">
			<img src="@Url.Action("GetImage", "Home", new { userid = Model.Id })" class="profilePic" />
			<span style="font-size: 23px;">@Model.FirstName @Model.LastName</span>
		</div>
	</div>

	<div class="grid-container">
		<div class="followings" style="display: flex; flex-direction: column">
			<span class="follower-span">Following</span>
			@foreach (var user in await _FollowingService.GetFollowingsAsync(Model.Id))
			{
				<div class="following-profile">
					<a style="text-decoration:none; color: black;" href="@Url.Action("Profile", "Users", new {userId = user.Id})">
						<img src="@Url.Action("GetImage", "Home", new { userid = user.Id })" class="profilePic" />
						<span style="font-size: 17px;">@user.FirstName @user.LastName</span>
					</a>
				</div>
			}
		</div>

		<div class="followers" style="display: flex; flex-direction: column">
			<span class="follower-span">Followers</span>
			@foreach (var user in await _FollowingService.GetFollowersAsync(Model.Id))
			{
				<div class="following-profile">
					<a style="text-decoration:none; color: black;" href="@Url.Action("Profile", "Users", new {userId = user.Id})">
						<img src="@Url.Action("GetImage", "Home", new { userid = user.Id })" class="profilePic" />
						<span style="font-size: 17px;">@user.FirstName @user.LastName</span>
					</a>
				</div>
			}
		</div>
		
		<div class="activities">
			<h1>Activities</h1>
			<div class="cards-container">

				@foreach (var item in Model.Activities)
				{
					@Html.Partial("CardPartial", item)
				}
			</div>
		</div>
	</div>
</div>


