@model SiteUser
@using ActivityTracer.Services
@inject FollowingService _FollowingService

<head>
	<link rel="stylesheet" href="~/css/profile.css" />
</head>

<h1>@Model.FirstName @Model.LastName</h1>

<label class="totalTime">Total time spent in this month: @Model.Activities.Where(t => t.Date.Year == DateTime.Now.Year && t.Date.Month == DateTime.Now.Month).Aggregate(TimeSpan.Zero, (currentSum, activity) => currentSum + activity.Time)</label>

<div grid-row-container>
	<div class="userInfo" style="display: flex; flex-direction: column">
		<div style="text-align: center; display: flex; flex-direction: row; align-items: center;">
			<img src="@Url.Action("GetImage", "Home", new { userid = Model.Id })" class="profilePic" />
			<span style="font-size: 23px;">@Model.FirstName @Model.LastName</span>
		</div>
	</div>

	<div class="grid-container">
		@Html.Partial("FollowingPartial", Model)

		@Html.Partial("FollowerPartial", Model)

	</div>

	<div class="activities">
		<h1>Activities</h1>
		<div class="cards-container">

			@foreach (var item in Model.Activities.OrderByDescending(t => t.Date))
			{
				@Html.Partial("CardPartial", item)
			}
		</div>
	</div>
</div>